header {
    display: block;
    background-color: black;
    border-bottom: 10px solid #BA1F33;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
}

nav {
text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", 'Times New Roman', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
content: "";
background-color: #BA1F33;
width: 10px;
height: 10px;
margin-right: 10px;
}

#button {
display: inline-block;
background-color: #BA1F33;
padding: 18px 20px;
margin-right: 0;
transition-duration: 0.4s;
cursor: pointer;
text-align: center;
text-decoration: none;
color:#FFF
}

#button:hover {
    transform: scale(1.01);
    background-color: #FFF;
    color: #BA1F33;
}

h2 {
    color: #000;
    
}

#img {
    display: inline-block;
    margin-top: 20px;
}

div {
background-color: #000;
display: inline-block;
margin-left: 128px;
margin-top: 116px
}

/* o profixo # faz com que procure o id e não a tag.
"display: inline-block;" basicamente nos permite editar o background de uma tag.
a altura da caixa e a altura da linha serem iguais é uma técnica para centralizar quando se tem só uma linha (line-height+heigh= 60px).