header {
    display: block;
    background-color: black;
    border-bottom: 10px solid #BA1F33;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: inline-block;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", 'Times New Roman', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
content: "";
background-color: #BA1F33;
width: 10px;
height: 10px;
margin-right: 10px;
}

/* o profixo # faz com que procure o id e não a tag.
"display: inline-block;" basicamente nos permite editar o background de uma tag.
a altura da caixa e a altura da linha serem iguais é uma técnica para centralizar quando se tem só uma linha (line-height+heigh= 60px).