.action {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 1.25rem;
    font-family: "Fira Code", "Times New Roman", "sans-serif";
    font-weight: 500;
    text-decoration: none;
    margin-right: 1.8rem;
}

.action:hover {
    transform: scale(1.05);
    color: #BA1F33;
}

.action::before {
content: "";
background-color: #BA1F33;
width: 0.6rem;
height: 0.6rem;
margin-right: 0.6rem;
}

.action:hover::before {
    transform: scale(1.05);
    background-color: #FFF;
}