.header {
    display: block;
    background-color: black;
    border-bottom: 0.62rem solid #BA1F33;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.62rem;
}

.header .head {
    display: flex;
    justify-content: space-between;
}

.header .links {
    
    margin-top: auto;
    padding-left: 15%;
}

.header .main-title h1 {
    display: inline;
    color: #FFF;
    margin-left: 1,25rem;
    font-family: "Caveat", "Times New Roman", "sans-serif";
    font-size: 3,12rem;
   
}

.header .logo {
    margin-top: 0.3rem;
    margin-left: 1%;
    margin-right: 3.5rem;
    padding-bottom: 0.3rem;
    width: 9.4rem;
    height: 9.4rem;
}
