.section-4 {
    box-sizing: border-box;
    background-color: #2e3335;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #BA1F33;
}

.description {
  color: #FFF;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
}