#section-1 {
    box-sizing: border-box;
    background-image: url(../../../assets/imgs/kenshi.jpg);
    background-size: 100%;
    height: 82vh;
    border-bottom: 10px solid #BA1F33;
    padding-top: 115px;
    padding-left: 90px;
    padding-right: 90px;  
}

#section-1 .wrapper-box {
    display: flex;
    flex-direction: column;
    width: auto;
}

#section-1 .box {
    margin-bottom: 40px;
}

#section-1 .navigation {
    display: flex;
    justify-content: space-around;
}

#section-1 .button {
    box-shadow: 5px 5px #000;

}

/* coiso */
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-1 .main-title {
    text-align: center;
  font-size: 100px;
  word-spacing: 10px;
  background: linear-gradient(90deg, black, white, black);
  -webkit-text-fill-color: transparent;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  animation: shade 5s linear infinite;
}

@keyframes shade {
  0% {
    background-position-x: -400%;
  }
  100% {
    background-position-x: 400%;
  }
}

/*fonte daora: avenir-lt-w3_85-heavy1475544,sans-serif */