.section-1 {
    box-sizing: border-box;
    background-image: url(../../../assets/imgs/kenshi.jpg);
    background-size: 100%;
    height: 100%;
    border-bottom: 10px solid #BA1F33;
    padding-top: 115px;
    padding-left: 90px;
    padding-bottom: 500px;
}

.section-1 .wrapper-box {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.section-1 .box {
    margin-bottom: 40px;
}

.section-1 .navigation {
    display: flex;
    justify-content: space-around;
}

.section-1 .button {
    box-shadow: 5px 5px #000;

}