.banner {
    box-sizing: border-box;
    background-image: url(../../assets/imgs/kenshi.jpg);
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #BA1F33;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
    padding-top: 115px;
    padding-left: 90px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}

.banner .button {
    box-shadow: 5px 5px #000;

}