.box {
    display: inline-block;
    background-color: rgb(75, 71, 71);
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 42px 44px;
}


.box h1 {
    font-size: 40px;
    color: #660d0d;
    margin-bottom: 28px;
}