.button {
    display: inline-block;
    background-color: #BA1F33;
    padding: 18px 20px;
    margin-right: 0;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color:#FFF
    }
    
.button:hover {
    transform: scale(1.01);
    background-color: #FFF;
    color: #BA1F33;
}