.header {
    background-color: black;
    border-bottom: 10px solid #BA1F33;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
}

.header .logo {
    display: inline-block;

}
