.title {
    color: #FFF;
    display: inline-flex;
    margin-left: 20px;
    font-size: 30px;
    text-align: left;
    padding-right: 750px;
}


img {
    display: inline-flex;
    margin-top: 20px;
    width: 150px;
    height: 150px;
}