.button {
    display: inline-block;
    background-color: #BA1F33;
    padding: 1.1rem 1.25rem;
    margin-right: 0;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    font-size: 1.25rem;
    color:#FFF;
    border-radius: 0.3rem;
    font-family: "Fira Code", "Times New Roman", "sans-serif";
    }

.button.-b2 {
    border-radius: 0;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}
    
.button:hover {
    transform: scale(1.05);
    background-color: #FFF;
    color: #BA1F33;
}