.progress-bar {
    background-color: #FFF;
    border: 0.3rem solid #000;
    height: 2.5rem;  
}

.progress-bar::-webkit-progress-value  {
    background-color: #BA1F33;
}

.progress-bar::-webkit-progress-bar  {
    background-color: #FFF;
}