#section-3 {
    height: 790px;
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #BA1F33;
}

#section-3 .main-title {
    padding-bottom: 50px;
}

#section-3 .banner-pj {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

#section-3 .projects {
    width: 260px;
    height: 260px;
    padding: 20px 20px;
    background-color: #2e3335;
    box-shadow: 8px 6px 0px #FFF;
    transition-duration: 0.4s;
    cursor: pointer;
}

#section-3 .projects.especify1 {
    padding: 1px;
}

#section-3 .projects.especify2 {
    padding: 70px 25px 70px 25px;
    background-color: #301818;
}

#section-3 .projects:hover {
    transform: scale(1.10);
}